# Ignore artifacts:
build/
coverage/

# Ignore dependencies:
node_modules/

# Ignore output directories:
dist/
.next/

# Ignore environment files:
.env.*

# Ignore generated:
components/shadcn/

# Ignore configuration files:
*.yml   
*.yaml
*lock.json
*.md

# Generated protobuf files
gen/