services:
  web:
    image: orkestri-web
    container_name: orkestri
    build:
      context: .
      dockerfile: local.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    env_file:
      - .env.local

volumes:
  node_modules:
